@model Services.EmployeeModel

<br />
@if (ViewBag.Selected == null)
{
    using (Html.BeginForm("ModifyEmployee", "Employee", FormMethod.Post))

    {
        @Html.LabelFor(e => e.FirstName, "Employee")
        @Html.DropDownListFor(e => e.ID,
                     new SelectList(ViewBag.AllEmployees, "ID", "FirstName"),
                     new { @class = "form-control" })

        <input type="submit" value="Search" />
    }
}
else
{
    //armate el form para editar aca
    <h1>@Model.FirstName @Model.LastName</h1>
}