<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
            <li>@Html.ActionLink("Register Country", "Index", "Country")</li>
            <li>@Html.ActionLink("Register Time", "Index", "Shift")</li>
        </ul>
    </div>
</nav>