<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Registrar Usuario", "Index", "Registrar Usuario")</li>
            <li>@Html.ActionLink("Registrar País", "Index", "Registrar Pais")</li>
            <li>@Html.ActionLink("Registro de Horarios", "Index", "Registro de Horarios")</li>
        </ul>
    </div>
</nav>