<form action="/country/create" method="post">
    <div>
        <label>Country</label>
        <input type="text" name="CountryName" required />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>