@model List<Services.CountryModel>

<h1>Country</h1>

<table>
    <thead>
        <tr>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pais in this.Model)
        {
            <tr>
                <td>@pais.CountryName</td>
                <td>
                    <a href="/country/delete?ID=@pais.CountryName">Delete</a>
                    <a href="/country/update?ID=@pais.ID">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/country/create">Crear</a>