<h1>Turn</h1>


<form method="post">

    <div class="form-group">
        <label for="employeeID">Turn:</label>
        <select class="form-control" id="employeeID" name="employeeID">
            @foreach (var employee in Model)
            {
                <option value="@employee.ID">@employee.FirstName @employee.LastName</option>
            }
        </select>
    </div>

</form>