@model Services.Models.ShiftControlModel

<form action="/shift/shiftcontrolinsert" method="post">
    <div>
        <label>Id</label>
        <input type="text" name="ID" value="@Model.ID" readonly/>
    </div>
    <div>
        <label>Entry</label>
        <input type="time" name="Entry"/>
        <label>@if (Model.Entry.Year <= DateTime.Today.Year) { }
        else
        {@Model.Entry.ToString("t") }</label>
        
</div>

<div>

<label>Exit</label>
    <input type="time" name="Exit" />
<label>@if (Model.Exit.Year < DateTime.Today.Year && Model.Entry.Year < DateTime.Today.Year) { }
else{@Model.Exit.ToString("t") }</label>


</div>

<div>

<button type="submit" id="save">Save</button>

</div>
</form>


<script language="text/javascript">

window.onload = function () {
            if (document.getElementById('exit').value = null) {
                document.getElementById('save').style.display = 'none';

            }
        }

</script>